

h1{
    color:aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.hedder{
    background-color:deeppink;
    width: 100%;
    padding: 1%;
    text-align: center;
    
}

.items img{
    width: 70px;
    height: 70px;
}

.items ul{
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: space-between;
    flex-wrap: nowrap;
}

li{
    flex: 1;
    color: rgb(189, 33, 163);
    text-align: center;
    min-width: 0;
}

a{
    color: rgb(189, 33, 163);
    text-decoration: solid;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

a:visited{
    color: rgb(189, 33, 163);
}

.upcoming img {
    width: 100%;
    height: fit-content;
}

.upcoming{
    background-color: palevioletred;
    padding: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.upcoming table{
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    margin: 50px auto;
}

th, td {
    border: 1px solid #333;
    padding: 12px;
}

th{
    text-align: center;
    font-size: larger;
    background-color: blueviolet;
}

.before{
    text-decoration: line-through;
}

.bottom{
    color: gray;
    margin: 10px;
}

.bottom h2{
    width: 100%;
}

.bottom p {
    font-size: small;
    font-weight:500px;
}

.bottom ul{
    padding-left: 10px;
    margin-top: 0%;
    
}

.bottom li{
    text-align: left;
    font-size: small;
    color: gray;
}


.footer {
    background-color: black;
    text-align: center;
    height:100px;
}

.footer h3{
    color: white;
    padding: 40px;
    font-weight: lighter;
}