

.frame{
    border : 1px solid gainsboro;
    width: 300px;
    align-content: center;
    padding: 10px;
    box-shadow: 4px 10px 8px rgba(0, 0, 0, 0.5);
    background-color: bisque;
    

.info{
    border: 1px solid gainsboro;
    padding : 10px;
    width: 280px;
    background-color: antiquewhite;
    margin-top: 10px;
}

.fact{
    font-style: italic;
}

.lable{
    font-weight: bold;
}

ul{
    list-style: none;
    padding-left: 0;
    
}

li{
    margin-bottom: 3px;
}

